/* #region GENERAL */
header {
    height: 4.375rem;
}

.ms-content {
    height: calc(100dvh - 4.375rem);
}

aside {
    width: 4.5rem;
    background-image: url(img/sidebar-bg.png);
}

.ms-btn {
    padding-left: 0.6rem;
    padding-right: 0.75rem;
}

/* #endregion */

/* #region DEBUG */
.ms-debug>* {
    border: 1px dashed coral;
}

.ms-debug>.ms-content>* {
    border: 1px dashed lightgray
}

.ms-debug>.ms-content>*>* {
    border: 1px dashed lightpink;
}

/* #endregion */

/* #region BACKGROUND */
.ms-bg-grey {
    background-color: #e5e5e5;
}

.ms-bg-darkblue {
    background-color: #051e34;
}

.ms-bg-blue {
    background-color: #165bba;
}

/* #endregion */

/* #region ANIMATION */
aside {
    transition: width 1s;
}

.ms-li-hover:hover {
    background-color: #ffffff89;
}

/* #endregion */

/* #region HOVER */
.ms-li-hover:hover {
    opacity: 1;
}

/* #endregion */

/* #region TYPOGRAPHY */
.ms-text-orange {
    color: #ff8f00;
}

/* #endregion */

/* #region RESPONSIVE */
@media screen and (min-width:576px) {
    .ms-colspan {
        width: 50%;
    }
}

@media screen and (min-width:992px) {
    aside {
        width: 9.375rem;
    }
}

/* #endregion */