/* #region GENERAL */
header {
    height: 4.375rem;
}

.ms-content {
    height: calc(100dvh - 4.375rem);
}

aside {
    width: 4.5rem;
    background-image: url(img/sidebar-bg.png);
}

/* #endregion */

/* #region DEBUG */
.ms-debug>* {
    border: 1px dashed coral;
}

.ms-debug>.ms-content>* {
    border: 1px dashed lightgray
}

.ms-debug>.ms-content>*>* {
    border: 1px dashed lightpink;
}

/* #endregion */

/* #region BACKGROUND */
.ms-bg-grey {
    background-color: #e5e5e5;
}

.ms-bg-darkblue {
    background-color: #051e34;
}

.ms-bg-blue {
    background-color: #165bba;
}

/* #endregion */

/* #region ANIMATION */
aside {
    transition: width 1s;
}

/* #endregion */

/* #region TYPOGRAPHY */
.ms-text-orange {
    color: #ff8f00;
}

/* #endregion */

/* #region RESPONSIVE */
@media screen and (min-width:992px) {
    aside {
        width: 9.375rem;
    }
}

/* #endregion */